@charset "UTF-8";


* {

    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;


}
header {
    background-color: black;
    color: white;
    text-align: center;

}
header > h1 {
    padding: 50px;
    font-variant: small-caps;

}
header {
    padding-bottom: 50px;

}
a {
    color: white;
    text-align: none;
    font-weight: bolder;
}
a:hover {
    text-decoration: underline;


}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}
.normal {

    background-color: white;
    color: black;
}
.imagem {
    background-color: blue;
    color: black;


}
section {
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 32px;
    padding-left: 35px;
}
section > p {
    background-color: black;
    width: 400px

}