@charset "UTF-8";


menu > p {
    background-color: grey;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

menu > h1 {
    background-color: black;
    color: white;
    font-size: 25px;
    text-align: center;
}
menu {


    background-color: rgba(219, 211, 211, 0.884);
}
menu > p {

    width: 400px;
    margin: auto;
}