@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family: Android;
  src: url(fontes/idroid.otf);
}

* {
  margin: 0px;
  padding: 0px;
}

:root {
    --cor0: #80d184;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font-padrão: Arial, Helvetica, sans-serif;
    --font-especial: "Bebas Neue", serif;
    --font-droid: 'Android', 'cursive';




}

  /* main kct */



body {
    background-color: var(--cor0);
    font-family: var(--font-padrão);
}



img {
  text-align: center;


}

main > article > h1 {
    font-family: var(--font-droid);
    font-weight: 900;
    color: var(--cor5);
    padding-left: 10px;
}

main {
  min-width: 320px;
  max-width: 750px;
  margin: auto;
  background-color: white;
  box-shadow: 0px 0px 10px black;
  margin-bottom: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

main p {
  padding: 15px;
  line-height: 1em;

}

main a { 
  text-decoration: none;
  font-weight: bold;
  color: var(--cor5);
  background-color: var(--cor2);

}

main a:hover {
  background-color: rgba(5, 190, 36, 0.877);
  font-size: 20px;
  color: white;
}

main strong {
  background-color: var(--cor3);
  font-size: larger;
}

main h1 {
  padding: 10px;
  background-image: linear-gradient(to right, green, transparent);

}

main > article > img {

  min-width: 10%;
  max-width: 100%;

}

div.video {
  margin-bottom: 20px;
  position: relative;
  padding-top: 100px;
  padding-bottom: 287px;
  
  
}
iframe {
  position: absolute;
  bottom: 40px;
  right: 85px;
  display: block;
    margin: auto;
    width: 75%;
    height: 300px;
    padding: 5px;
  
}



ul {
  list-style-position: inside;
  columns: 2;
}
main > article > picture > img {
      min-width: 10%;
      max-width: 100%;

}
main > article > picture > source {
  min-width: 10%;
  max-width: 100%;


}
aside {
  background-image: linear-gradient(to right, rgba(0, 128, 0, 0.897), #063d1ec2);

}
a.external::before {
  content: '\1F517';

}



/* Header porra*/

nav {
  background-color: rgb(21, 182, 83);
  box-shadow: 10px 10px 10px black;
  padding: 25px;
}
nav > a { color: rgb(0, 0, 0);
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  transition-duration: 2s;
}
nav > a:hover {
  background-color: var(--cor4);

}
header > h1 {
  font-family: var(--font-especial);
  margin-bottom: 20px;
  font-size: 70px;
  text-shadow: 8px 11px 5px black;
}
header > p {
  text-shadow: 8px 11px 5px black;
  font-size: 25px;

}
header {
  background: linear-gradient(to right, var(--cor4), var(--cor5));
  text-align: center;
  color: white;
  padding: 5%;
  min-height: 150px;

}

/* footer */

footer {
  background-color: rgb(1, 29, 1);
  color: wheat;
  margin: auto;
  min-width: 320px;
  max-width: 750px;
  padding: 30px;
  font-size: 20px;
  border-radius: 25px;
}
footer a {
  color: aqua;
  font-style: oblique;

}
footer p {
  text-align: center;

}
footer:hover {
  background-image: linear-gradient(to right, red, transparent);
  
}